.experience{
  width: 100%;
  min-height: calc(100vh - 240px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-timeline-element-title{
  color: rgba(231, 54, 54);
}

.vertical-timeline-element-subtitle{
  color: rgb(160, 93, 208);
}

.date{
  color: gray;
}

