.home {
  width: 100%;
  align-items: center;
  color: #EEEEEE;
}

.home {
  background-image: linear-gradient(to top, indigo, white);
}

.about {
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(83, 105, 93);
}

.about h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 50px;
  color: rgba(231, 54, 54);
}

.about .prompt {
  width: 70%;
  font-size: 30px;
  font-family: 'Nunito Sans', sans-serif;
}

.myprofiles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh;
}

.myprofiles svg {
  font-size: 60px;
  margin: 25px;
  color: rgb(76, 93, 220);
}

.skillsContainer {
  margin-top: 16vw;
  padding: auto;
  width: 100%;
  min-height: calc(100vh - 190px);
}

.skillsContainer .heading {
  font-size: 50px;
  color: rgb(190, 243, 83);
}

.skills {
  /* font-size: 25px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#skill1 {
  margin-bottom: 7vw;
}

#skill1 td {
  width: 15vw;
}

#skill2 td {
  width: 20vw;
  padding: 10px;
}

.skills h1 {
  color: #41e9e9;
  font-size: 35px;
  margin: 50px 0 20px 0;
}

.skills td {
  font-size: 20px;
  color: rgb(245, 245, 246);
}

.skills th {
  font-size: 24px;
  color: rgb(190, 243, 83);
}

.skills h2 {
  font-size: 30px;
  margin: 15px auto;
  color: #4bcaede4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills span {
  width: 10px;
}

@media only screen and (max-width: 850px) {
  .about h2 {
    font-size: 32px;
  }

  .about .prompt {
    font-size: 20px;
    /* Adjusted for mobile devices */
    width: 80%;
    /* Adjusted for mobile devices */
  }

  .myprofiles svg {
    font-size: 40px;
    margin: 15px;
    color: rgba(115, 61, 230, 0.811);
  }

  .skillsContainer{
    margin-top: 20px;
  }
  .skillsContainer .heading {
    font-size: 30px;
    
  }
  .skills {
    text-align: center;
  }

  .skills h1 {
    font-size: 20px;
    /* Adjusted for mobile devices */
    margin: 20px 0 10px 0;
    /* Adjusted for mobile devices */
  }

  .skills th{
    font-size: 16px;
    width: 85%;
    /* Adjusted for mobile devices */
  }
  .skills td{
    font-size: 16px;
    width: 85%;
    /* Adjusted for mobile devices */
  }

  .list span {
    font-size: 16px;
    /* Adjusted for mobile devices */
  }
}