.home{
  width: 100%;
  align-items: center;
  color: #EEEEEE;
}

.about{
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to top, indigo, white);
  color: white;
}

.about h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: rgba(231, 54, 54);
}

.about .prompt{
  width: 70%;
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
}

.myprofiles{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh;
}

.myprofiles svg{
  font-size: 60px;
  margin: 25px;
  color: rgba(231, 54, 54);
}

.skillsContainer{
  margin-top: 20vw;
  padding: auto;
  width: 100%;
  min-height: calc(100vh - 190px);
}
.skillsContainer .heading{
  font-size: 50px;
  color: rgba(231, 54, 54);
}
.skills {
  /* font-size: 25px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#skill1{
  margin-bottom: 7vw;
}
#skill1 td{
  width: 15vw;
}

#skill2 td{
  width: 20vw;
  padding: 10px;
}

.skills h1{
  color: #B82601;
  font-size: 35px;
  margin: 50px 0 20px 0;
}

.skills td{
  font-size: 20px;
  color: gray;
}

.skills th{
  font-size: 24px;
}

.skills h2{
  font-size: 30px;
  margin : 15px auto;
  color: #4bcaede4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills span{
  width: 10px;
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    font-size: 22px; /* Adjusted for mobile devices */
    width: 80%; /* Adjusted for mobile devices */
  }

  .myprofiles svg{
    font-size: 40px;
    margin: 15px;
    color: rgba(115, 61, 230, 0.811);
  }
  .skills {
    text-align: center;
  }

  .skills h1 {
    font-size: 40px; /* Adjusted for mobile devices */
    margin: 20px 0 10px 0; /* Adjusted for mobile devices */
  }

  .skills h2 {
    font-size: 24px; /* Adjusted for mobile devices */
    margin: 0;
    margin-top: 10px; /* Adjusted for mobile devices */
  }

  .skills .list {
    width: 90%; /* Adjusted for mobile devices */
  }

  .skills .list .item {
    margin: 20px; /* Adjusted for mobile devices */
  }

  .list span {
    font-size: 20px; /* Adjusted for mobile devices */
  }
}